<h2 mat-dialog-title><b>Cập nhật công ty</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='companyForm' (ngSubmit)='createRole()'>
    <mat-form-field appearance="outline">
      <mat-label>Tên công ty</mat-label>
      <input formControlName='name' matInput placeholder='Nhập Tên công ty' required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mã số thuế</mat-label>
      <input formControlName='taxCode' matInput placeholder='Nhập thông tin' required/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Code</mat-label>
      <input formControlName='code' matInput placeholder='Nhập thông tin' required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Địa chỉ</mat-label>
      <input formControlName='address' matInput placeholder='Nhập thông tin' required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại</mat-label>
      <input formControlName='phone' matInput placeholder='Nhập thông tin' required [maxLength]="10"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input formControlName='description' matInput placeholder='Nhập thông tin' required />
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close matTooltip="">
    <mat-icon fxHide.xs>close</mat-icon>
    Đóng
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createRole()"
          matTooltip="">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
