<h2 mat-dialog-title><b>Tạo mới tài khoản người dùng</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='accountForm' #userAccountForm="ngForm">
    <mat-form-field appearance="outline"
      matTooltip="Tên đăng nhập"
      matTooltipPosition='right'>
      <mat-label>Tên đăng nhập</mat-label>
      <input formControlName='username' matInput placeholder="Tên đăng nhập *" required />
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip="Tên hiển thị *"
      matTooltipPosition='right'>
      <mat-label>Tên hiển thị</mat-label>
      <input formControlName='displayName' matInput placeholder="Tên hiển thị *" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại</mat-label>
      <input formControlName='phone' matInput placeholder='Số điện thoại *' required maxlength="10"/>
      <mat-error *ngIf="accountForm.controls.phone.hasError('pattern')">
        Vui lòng nhập số điện thoại đúng định dạng (0-(9 ký tự số))
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip="Mật khẩu *" matTooltipPosition='right'>
      <mat-label>Mật khẩu</mat-label>
      <input formControlName='password' matInput placeholder="Mật khẩu *" required type="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip="Xác nhận mật khẩu *" matTooltipPosition='right'>
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input formControlName='confirmPassword' matInput placeholder="Xác nhận mật khẩu *" required type="password" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nhóm quyền</mat-label>
       <mat-select formControlName='roleIds' (selectionChange)="changeRole($event.value)" [(value)]="selectedRole.id">
         <mat-option *ngFor="let role of roles" [value]="role.id">
           {{role.displayName}}
         </mat-option>
       </mat-select>
     </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close matTooltip=" Xác nhận">
    <mat-icon fxHide.xs>close</mat-icon>
   Đóng
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createAccount()"
    matTooltip="Xác nhận"
    [disabled]="!userAccountForm.form.valid">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
