<h2 mat-dialog-title><b>Thêm phương tiện</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='vehicleForm' (ngSubmit)='createRole()'>
    <mat-form-field appearance="outline" matTooltip='Tên mức cảnh báo' matTooltipPosition='right'>
      <mat-label>Biển số xe</mat-label>
      <input formControlName='licencePlate' matInput placeholder='Nhập biển số xe' required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tải trọng xe</mat-label>
      <input formControlName='weight' matInput placeholder='Nhập biển số xe' required type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tọng lượng xe</mat-label>
      <input formControlName='loadDueToOwnWeight' matInput placeholder='Nhập biển số xe' required type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tên lái xe</mat-label>
      <input formControlName='driverName' matInput placeholder='Nhập biển số xe' required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại xe</mat-label>
      <input formControlName='driverPhone' matInput placeholder='Nhập biển số xe' required [maxLength]="10"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Loại hình phương tiện</mat-label>
      <mat-select formControlName='vehicleTypeId'>
        <mat-option *ngFor="let gate of vehicleTypeEnums" [value]="gate.id">
          {{gate.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cửa khẩu</mat-label>
      <mat-select formControlName='gateId'>
        <mat-option *ngFor="let gate of gates" [value]="gate.id">
          {{gate.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close matTooltip="">
    <mat-icon fxHide.xs>close</mat-icon>
    Đóng
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createRole()"
          matTooltip="">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
