<h2 mat-dialog-title><b>Tạo quyền</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='roleForm' (ngSubmit)='createRole()'>
    <mat-form-field appearance="outline" matTooltip="Tên quyền">
      matTooltipPosition='right'>
      <mat-label>Tên quyền</mat-label>
      <input formControlName='name' matInput placeholder="Tên quyền" required>
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip="Tên hiển thị" matTooltipPosition='right'>
      <mat-label>Tên hiển thị</mat-label>
      <input formControlName='displayName' matInput placeholder="Tên hiển thị" required/>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close matTooltip="">
    <mat-icon fxHide.xs>close</mat-icon>
    Đóng
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createRole()"
          matTooltip="">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
