<div id="map"
     [style]="styleOfPolygon"
     leaflet
     style="height: 100vh"
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl">
</div>
<!--
(leafletClick)="onClick($event)"
(leafletMapZoom)="onZoom($event)"
(leafletMapMoveEnd)="onZoom($event)"-->

<div style="position: fixed;
z-index: 999999;
  bottom: 0;
  right: 0;
  width: 150px;
  border: 3px solid #73AD21;">
  <div class="bg-white p-1">
    <div *ngFor="let item of data.features">
      <button mat-flat-button (click)="flyto(item.geometry.coordinates)" class=" my-1 border rounded bg-primary text-white" style="margin: 10px; padding: 0 10px">
        <div class="b">
          {{item.properties.name}}
        </div>
      </button>
    </div>
  </div>

</div>
