<div id="map"
     [style]="styleOfPolygon"
     leaflet
     style="height: 100vh"
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl">
</div>
<!--
(leafletClick)="onClick($event)"
(leafletMapZoom)="onZoom($event)"
(leafletMapMoveEnd)="onZoom($event)"-->

<div style="position: fixed;
z-index: 800;
  top: 0;
  right: 0;
  width: 150px;
  border: 3px solid bisque;
border-radius: 3px;
padding: 2px;
">
  <div class="bg-white m-4">
    <mat-label>Chọn cửa khẩu</mat-label>
    <mat-select
      [(ngModel)]="datatram"
      style="z-index: 9999999;border: 1px solid black; border-radius: 2px;padding: 5px; margin-bottom: 5px;margin-top: 5px">
      <mat-option *ngFor="let item of data.features" [value]="item" (click)="flyto(item.geometry.coordinates)" >
        {{item.properties.name}}
      </mat-option>
    </mat-select>
  </div>

  <div class="bg-white m-4">
    <mat-label>Chọn trạm</mat-label>
    <mat-select style="z-index: 9999999;border: 1px solid black; border-radius: 2px;padding: 5px; margin-bottom: 5px;margin-top: 5px">
      <mat-option *ngFor="let item of datatram?.tram" [value]="item" (click)="flyto(item.coordinates)" >
        {{item?.name}}
      </mat-option>
    </mat-select>
  </div>
</div>

