<h2 mat-dialog-title><b>Cập nhật Nhóm quyền</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='roleForm' (ngSubmit)='createRole()'>
    <mat-form-field appearance="outline" matTooltip='Tên nhóm quyền' matTooltipPosition='right'>
      <mat-label>Tên nhóm quyền</mat-label>
      <input formControlName='name' matInput placeholder='Nhập tên nhóm quyền' required readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip='Tên hiển thị' matTooltipPosition='right'>
      <mat-label>Tên hiển thị</mat-label>
      <input formControlName='displayName' matInput placeholder='Nhập tên hiển thị' required />
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon fxHide.xs>close</mat-icon>
    Hủy bỏ
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createRole()">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
