<div class="mat-elevation-z0" style="overflow: auto;">

  <div class="rounded flex items-center">
    <div class="flex-grow px-2">
      <div class="flex flex-row items-center self-center">
        <svg fill="none" height="14" viewBox="0 0 20 14" width="25" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.6673 3.66634H14.1673V0.333008H2.50065C1.58398 0.333008 0.833984 1.08301 0.833984 1.99967V11.1663H2.50065C2.50065 12.5497 3.61732 13.6663 5.00065 13.6663C6.38398 13.6663 7.50065 12.5497 7.50065 11.1663H12.5006C12.5006 12.5497 13.6173 13.6663 15.0006 13.6663C16.384 13.6663 17.5006 12.5497 17.5006 11.1663H19.1673V6.99967L16.6673 3.66634ZM16.2506 4.91634L17.884 6.99967H14.1673V4.91634H16.2506ZM5.00065 11.9997C4.54232 11.9997 4.16732 11.6247 4.16732 11.1663C4.16732 10.708 4.54232 10.333 5.00065 10.333C5.45898 10.333 5.83398 10.708 5.83398 11.1663C5.83398 11.6247 5.45898 11.9997 5.00065 11.9997ZM6.85065 9.49967C6.39232 8.99134 5.74232 8.66634 5.00065 8.66634C4.25898 8.66634 3.60898 8.99134 3.15065 9.49967H2.50065V1.99967H12.5006V9.49967H6.85065ZM15.0006 11.9997C14.5423 11.9997 14.1673 11.6247 14.1673 11.1663C14.1673 10.708 14.5423 10.333 15.0006 10.333C15.459 10.333 15.834 10.708 15.834 11.1663C15.834 11.6247 15.459 11.9997 15.0006 11.9997Z"
            fill="#1363B9"/>
        </svg>

        <span class="text-[18px] font-bold body-color body-font">  Danh sách phương tiện</span>
      </div>
    </div>
    <div fxFlex fxFlex.lg fxFlex.md fxFlex.sm fxFlex.xl fxFlex.xs fxLayout="row" fxLayoutAlign="end center">
      <button (click)="openAddGoodsAreaDialog()" mat-flat-button matTooltip="Thêm mới" matTooltipPosition="above"
        style="background-color: #00875a; color: white">
        <mat-icon>add</mat-icon>
        Thêm mới
      </button>
      <button color="primary" fxHide.lg fxHide.md fxHide.xl mat-flat-button>
        Tìm kiếm
      </button>
    </div>
  </div>

  <div class="card-content">
    <div>
      <div>
        <div class="flex mb-4 gap-5">
          <div class="flex flex-col w-1/6 justify-between">
            <mat-label>Tìm kiếm theo mã</mat-label>
            <input [(ngModel)]="codeGood" class="input_style" placeholder="Nhập mã"/>
          </div>

          <div class="flex flex-col w-1/6 justify-between">
            <mat-label>Tìm kiếm theo tên</mat-label>
            <input [(ngModel)]="nameGood" class="input_style" placeholder="Nhập từ khóa"/>
          </div>
          <div class="flex flex-col w-1/6 justify-between">
            <mat-label>Cửa khẩu</mat-label>
            <mat-select [(value)]="gateId">
              <mat-option [value]="''">
                Tất cả
              </mat-option>
              <mat-option *ngFor="let gate of gates" [value]="gate.id">
                {{gate.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="gap-2" fxFlex fxFlex.lg fxFlex.md fxFlex.sm fxFlex.xl fxLayout="row" fxLayoutAlign="end center">
            <button (click)="reload()" mat-stroked-button style="border-color: #1363b9;color: #1363b9;">
              <mat-icon>refresh</mat-icon>
              Làm mới
            </button>
            <button (click)="search()" color="primary" mat-flat-button>
              <mat-icon>search</mat-icon>
              Tìm kiếm
            </button>
          </div>
        </div>

        <div class="customScroll mt-6" fxLayout="column">
          <mat-table [dataSource]="goodsSource" matSort matSortActive="name" matSortDirection="asc">
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef class="bold">
                STT
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index" data-label="STT">
                {{(this.pageNumber - 1) * this.pageSize + i + 1}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                Biển số xe
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Tên hàng hóa" matTooltip="{{element.name}}">
                {{ element.name}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                Tải trọng
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Mã hàng hóa" matTooltip="{{element.weight}}">
                {{ element.weight }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="driverName">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                Tên lái xe
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Mã hàng hóa" matTooltip="{{element.code}}">
                {{ element.driverName }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="driverPhone">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                SDT lái xe
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Mã hàng hóa" matTooltip="{{element.code}}">
                {{ element.driverPhone }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createDate">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                Ngày tạo
              </mat-header-cell>
              <mat-cell *matCellDef="let element"
                        data-label="Ngày tạo" matTooltip="{{element.createAt | date: 'dd/MM/yyyy h:mm a'}}">
                {{ element.createAt | date: 'dd/MM/yyyy' }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="updateDate">
              <mat-header-cell *matHeaderCellDef class="bold" mat-sort-header>
                Ngày cập nhật
              </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Ngày cập nhật"
                        matTooltip="{{(element.updateDate
                        ? element.updateAt
                        : element.createAt) | date: 'dd/MM/yyyy h:mm a'}}">
                {{(element.updateDate ? element.updateAt : element.createAt) | date: 'dd/MM/yyyy'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell (click)="$event.stopPropagation()" *matCellDef="let element" style="float: right;">
                <button (click)="deleteGoodsArea(element)" [disableRipple]="true" href="javascript:void(0)"
                        mat-icon-button matTooltip="Xóa hàng hóa">
                  <mat-icon color="primary">delete_outline</mat-icon>
                </button>
                <button (click)="openUpdateGoodsAreaDialog(element)" [disableRipple]="true"
                        href="javascript:void(0)" mat-icon-button matTooltip="Cập nhật hàng hóa">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="goodTitleColumns;sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: goodTitleColumns">
            </mat-row>
          </mat-table>
          <div *ngIf="goods.length === 0" style="text-align: center;">
            <div class="mat-row" fxLayout="column" fxLayoutAlign="space-around center">
              <img alt="img" src="./assets/images/no_data.svg" style="height: 5rem; width: 10rem; padding: 1rem;">
              <p style="color: rgb(168, 158, 158)">Không có dữ liệu</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <mat-paginator #paginator (page)="paginatorChange($event);" [length]="length" [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
  </div>
</div>
