
.mat-icon-control {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.bold{
  @apply text-[16px] font-semibold text-[#172B4D];
}
mat-card{
  @apply m-2 p-0;
}
.card-content{
  @apply bg-white rounded mt-4 p-2;
}

mat-label{
  @apply text-[16px] font-semibold text-[#172B4D] font-sans;
}
.input_style{
  @apply inline-flex items-center justify-end h-8 py-1.5 pl-1.5 bg-white border rounded border-gray-300 w-full;
}

mat-select{
  @apply border border-gray-300 rounded px-2 py-1 bg-white w-full;
}

.mat-row:hover {
  background: lightgray;
  cursor: pointer;
  opacity: 0.7;
}

.table {
  height: calc(100vh - 400px);
  overflow: auto;
  margin-bottom: 0;
}

mat-form-field {
  width: 100%;
}


mat-cell:last-child{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.mat-column-select {
  overflow: initial;
}

.align-button{
  margin-left: 16px;
  margin-right: 16px;
}

.mat-cell {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 3em;
  max-height: 3em;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

mat-header-cell:first-of-type {
  padding-left: 1rem;
}
@media screen and (max-width: 960px) {
  .mat-column-index {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }



  .mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-code {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-createDate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-updateDate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid gray;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    padding: 0;

  }

  .mat-table .mat-cell:first-child {
    margin: 0;
    padding: 0;
  }
}

.mat-row:nth-child(even){
  background-color: #ffffff;
}

.mat-row:nth-child(odd){
  background-color:#F4F5F7;
}
