<mat-card class="mat-elevation-z0">
  <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
       fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="left" fxLayoutAlign.lg="left" fxLayoutAlign.md="left"
       fxLayoutAlign.sm="left" fxLayoutAlign.xs="left">
    <mat-card-header>
      <mat-card-title style="font-size: 20px; font-weight: bolder; color: #4F5467;">Trạm</mat-card-title>
      <mat-card-subtitle style="font-size: 15px">Quản lý danh mục trạm</mat-card-subtitle>
    </mat-card-header>

    <div fxFlex fxFlex.xl fxFlex.lg fxFlex.md fxFlex.sm fxFlex.xs fxLayout="row" fxLayoutAlign="end center">
      <button mat-flat-button class="refresh-button"  matTooltip="Làm mới">
        <mat-icon>refresh</mat-icon>
        Làm mới
      </button>
      <button mat-flat-button color="primary" matTooltip="Thêm mới" (click)="openCreateStationDialog()">
        <mat-icon>add</mat-icon>
        Thêm mới
      </button>
    </div>
  </div>

  <mat-card-content>
    <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
         fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="left" fxLayoutAlign.lg="left" fxLayoutAlign.md="left"
         fxLayoutAlign.sm="left" fxLayoutAlign.xs="left">

      <div fxFlex="20%" fxFlex.xl="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-form-field matTooltipPosition="below" appearance="outline">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyNameFilter($event.target.value)" [ngModel]="nameSearch" placeholder="Nhập thông tin" />
        </mat-form-field>
      </div>

      <div fxFlex fxFlex.xl fxFlex.lg fxFlex.md fxFlex.sm fxFlex.xs fxLayout="row" fxLayoutAlign="end center">
        <button mat-flat-button style="background-color: #4F5467;color: white;" (click)="search()">
          <mat-icon>search</mat-icon>
          Tìm kiếm
        </button>
      </div>
    </div>

    <div style="overflow: auto;" class="w-full">
      <mat-table [dataSource]="stationSource" matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef class="bold">
            STT
          </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index" data-label="STT">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Tên trạm
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Tên trạm" matTooltip="{{element.name}}">{{
            element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="adddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Địa chỉ
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="địa chỉ" matTooltip="{{element.address}}">{{ element.address}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Số điện thoại
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Số điện thoại" matTooltip="{{element.phone}}">{{ element.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="email" matTooltip="{{element.email}}">{{ element.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Website
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="website" matTooltip="{{element.website}}">{{ element.website}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="coordinates">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Toạ độ
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Toạ độ" matTooltip="{{element.latitude}}, {{ element.longitude}}">{{element.latitude}}, {{ element.longitude}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bold">
            Trạng thái
          </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip="{{element.status == true ? 'Hoạt động' : 'Khóa'}}"
                    (click)="$event.stopPropagation()" data-label="Trạng thái">
            <mat-slide-toggle [checked]='element.status == true' color='primary'
                              (change)='changeStatus(element, $event)' style="margin-right: 5px;" [disabled]="element.isDelete">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell fxHide.md *matHeaderCellDef mat-sort-header class="bold">
            Diễn giải
          </mat-header-cell>
          <mat-cell fxHide.md *matCellDef="let element" data-label="Diễn giải" matTooltip="{{element.description}}">
            {{ element.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createDate">
          <mat-header-cell fxHide.md *matHeaderCellDef mat-sort-header class="bold">
            Ngày tạo
          </mat-header-cell>
          <mat-cell fxHide.md *matCellDef="let element" data-label="Ngày tạo"
                    matTooltip="{{element.createDate | date: 'dd/MM/yyyy h:mm a'}}">
            {{ element.createdDate | date: 'dd/MM/yyyy' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updateDate">
          <mat-header-cell fxHide fxShow.xl fxShow.xs *matHeaderCellDef mat-sort-header class="bold">
            Ngày cập nhật
          </mat-header-cell>
          <mat-cell fxHide fxShow.xl fxShow.xs *matCellDef="let element" data-label="Ngày cập nhật"
                    matTooltip="{{element.createDate | date: 'dd/MM/yyyy h:mm a'}}">
            {{
            (element.updatedDate
                ? element.updatedDate
                : element.createdDate
            ) | date: 'dd/MM/yyyy'
            }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">

            <button *ngIf="!element.isDelete" mat-icon-button  matTooltip="Xóa trạm"
                    [disableRipple]="true" (click)="deleteStation(element)">
              <mat-icon color="warn" class="delete-action-icon">delete</mat-icon>
            </button>

            <button *ngIf="!element.isDelete" mat-icon-button matTooltip="Cập nhật thông tin trạm"
                    href="javascript:void(0)" [disableRipple]="true" (click)="openUpdateStationDialog(element)" >
              <mat-icon color="accent" class="update-action-icon">edit</mat-icon>
            </button>

            <button *ngIf="element.isDelete" mat-icon-button matTooltip="Xóa trạm"
                    href="javascript:void(0)" [disableRipple]="true">
              <mat-icon class="delete-action-icon">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <div class="mat-row" *matNoDataRow fxLayout="column" fxLayoutAlign="space-around center">
          <p style="color: rgb(168, 158, 158)">Không có dữ liệu</p>
        </div>


        <mat-header-row *matHeaderRowDef="stationTitleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: stationTitleColumns"></mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                     (page)="paginatorChange($event);" showFirstLastButtons></mat-paginator>

    </div>
  </mat-card-content>
</mat-card>
