<div class="parent-layout"
     style="background: url('../../../assets/images/background.jpeg') center ;background-size: cover">
  <div class="main-block bg-white rounded flex items-center content-center" style="padding: 20px; width: 450px; height: 400px">
    <div class="">
      <div class="head-login" style="">Đăng Nhập</div>

      <mat-form-field appearance="outline">
        <mat-label>Tài khoản</mat-label>
        <input style="font-size: 18px" matInput placeholder="UserName" [(ngModel)]="user.userName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input style="font-size: 18px" matInput placeholder="********" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password"
               (keyup.enter)="loginUser()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <p style="color: #536DFE; cursor: pointer;" (click)="goToNav('sign-up')">Bạn chưa có tài khoản?</p>
      <button mat-raised-button style="float: right; background-color: #536DFE; color: white" (click)="loginUser()">
        Đăng Nhập
      </button>
    </div>

  </div>
</div>
