<h2 mat-dialog-title><b>Cập nhật mức cảnh báo</b></h2>
<mat-dialog-content>
  <form novalidate [formGroup]='roleForm' (ngSubmit)='createRole()'>
    <mat-form-field appearance="outline" matTooltip='Tên mức cảnh báo' matTooltipPosition='right'>
      <mat-label>Tên mức cảnh báo</mat-label>
      <input formControlName='name' matInput placeholder='Nhập tên mức cảnh báo' required />
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip="Màu sắc cảnh báo" matTooltipPosition='right'>
      <mat-label>Màu sắc</mat-label>

      <mat-select formControlName='color'>
        <mat-option *ngFor="let color of colors" [value]="color.value">
          {{color.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" matTooltip='Mô tả' matTooltipPosition='right'>
      <mat-label>Mô tả</mat-label>
      <input formControlName='description' matInput placeholder='Nhập Mô tả' required />
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon fxHide.xs>close</mat-icon>
    Hủy bỏ
  </button>
  <button mat-flat-button type='submit' class='create-button' (click)="createRole()">
    <mat-icon>done</mat-icon>
    Xác nhận
  </button>
</mat-dialog-actions>
